.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    scroll-behavior: smooth;
    justify-content: center;
}

.container * {
    padding: 10px;
    font-family: verdana;
    
}
.parentcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}
.faqContainer{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.intro{
    margin-bottom: 60px;
}
.message{
    margin-top: 60px;
    border: none;
}