.addtocartbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    transition: 0.5s;
}
.addtocartbutton:hover{
    opacity: 0.5;
}

.opacity {
    opacity: 0;
    pointer-events: none;
}