.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    gap: 40px;
}
.image{
    animation: fade-right 0.5s
}

.container * {
    color: white;
    font-family: verdana;
}

.table * {
    border-color: white;
}
.description{
    animation: fade-up 0.5s;
    max-width: 500px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.table {
    box-shadow: 0 0 20px 5px rgba(192, 192, 192, 0.75);
    animation: fade-left 0.5s
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

@media only screen and (min-width: 768px) {
    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .container{
        flex-direction: row;
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1)
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1)
    }
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}