.images {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.opacity {
    opacity: 0;
}

.text {
    font-weight: bolder;
}

.button {
    margin-bottom: 10px;
    background-color: #3B71CA;
    padding: 8px;
    color: white;
}

.container {
    width: 100%;
    animation: fade-up 0.5s;
    box-shadow: 0 0 20px 5px rgba(192, 192, 192, 0.75);
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1)
    }
}




@media only screen and (min-width: 900px) {
    .images {
        height: 550px;
    }
}