.images {
    transition-duration: 2s;
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.opacity {
    opacity: 0;
}

.text {
    font-weight: bolder;
}

.button {
    margin-bottom: 10px;
    background-color: #3B71CA;
    padding: 8px;
    color: white;
}

.container {
    width: 100%;
}




@media only screen and (min-width: 900px) {
    .images {
        height: 550px;
    }
}