.images{
    object-fit: cover;
    margin: 0.25rem;
    border-radius: 4pc;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.innercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
