.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container *{
    color: white;
}

.images {
    border-radius: 5px;
    object-fit: cover;
    transition-duration: 2s;
}

.opacity {
    opacity: 0;
}

.imagecontainer {
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}