.images {
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
}

.product_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price {
    text-decoration: underline;
    font-weight: bolder;
}