.container {
    max-width: 500px;
}

.container * {
    margin: 5px;
}

.button {
    color: white;
    background-color: purple;
    transition: 0.5s;
    margin-top: 20px;
}

.button:hover {
    color: white;
    background-color: purple;
    opacity: 0.5;
}