.images {
    object-fit: cover;
    margin: 0.25rem;
    border-radius: 4pc;
    cursor: pointer;
    transition-duration: 2s;
}
.opacity{
    opacity: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.innercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}