
.introcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introcontainer * {
    flex: 1;
    margin: 10px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 100px;
}

.messagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-right 0.5s
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.carousel{
    animation: fade-left 0.5s;
    
    
}

.opacity {
    opacity: 0;
}
.text{
    text-align: center;
}
.header{
    text-align: center;
}
.headerContainer{
    box-shadow: 0 0 20px 5px rgba(192, 192, 192, 0.75);
    max-width: 800px;
    padding: 20px;
}


@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1)
    }
}
.text{
    color: white;
}

@media only screen and (min-width: 768px) {
    .introcontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .messagecontainer {
        display: flex;
        flex-direction: column;
        align-self: self-start;
    }
}