.logo {
    margin: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.parentContainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.forgotpassword {
    margin-top: 10px;
    cursor: pointer;
    color: #3B71CA;
    ;
}



.menu {
    display: flex;
    flex-direction: column;

}





@media only screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 150px;

    }

}



.loginbutton {
    width: 80px;
}

.recoverybutton {
    width: 110px;
}