.logo {
    margin-left: 6px;
    transition: 0.2s;
    color: white;
}

.menuitems:hover {
    background-color: initial;
    opacity: 0.6;

}

.muiButton {
    color: white;
    background-color: purple;
    transition: 0.5s;
}
.demo{
    font-family: verdana;
    font-size: 1.3vh;
}

.muiButton:hover {
    background-color: purple;
    opacity: 0.7;
}

.menuitems {
    transition: 0.3s;
    color: white;
    font-family: verdana;
    font-weight: bold;
}

.logo:hover {
    opacity: 0.7;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: verdana;
}

.parentContainer {
    width: 100%;
    top: 0;
    z-index: 2;
    animation: fade-down 0.5s
}

.forgotpassword {
    margin-top: 10px;
    cursor: pointer;
    color: #3B71CA; 

}
.formControl{
    transition: 0.2s;
    padding-right: 10px;
}
.formControl:hover {
    box-shadow: 0 0 20px 5px rgba(192, 192, 192, 0.75);
}

.font{
    font-family: verdana;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1)
    }
}





@media only screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 150px;

    }

}



.loginbutton {
    width: 80px;
}

.recoverybutton {
    width: 110px;
}