.images{
    object-fit: cover;
    transition-duration: 2s;
}
.opacity{
    opacity: 0;
}
.text{
    font-weight: bolder;
}
.button{
    margin-bottom: 10px;
    background-color: #3B71CA;
    padding: 8px;
    color: white;
}