.images {
    object-fit: cover;
    transition-duration: 2s;
}

.opacity {
    opacity: 0;
}

.small {
    object-fit: cover;
    margin: 0.25rem;
    border-radius: 4pc;
    transition-duration: 2s;
    margin-right: 20px;
    margin-bottom: 40px;
}