.images {
    transition-duration: 2s;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.opacity {
    opacity: 0;
}

.small {
    object-fit: cover;
    margin: 0.25rem;
    border-radius: 4pc;
    transition-duration: 2s;
    margin-right: 20px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .images{
        height: 200px;
    }
}

@media only screen and (min-width: 1000px) {
    .images{
        height: 400px;
    }
}

@media only screen and (min-width: 1400px) {
    .images{
        height: 400px;
    }
}