.ProductContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 4px solid #3B71CA;
    color: #3B71CA;
    gap: 60px;

}
.images{
    object-fit: cover;
}
.price{
    font-weight: bolder;
    font-size: 1.6rem;
    text-align: center;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
